<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/main.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/main.min.js"></script>

<title>Home</title>
<style>
  body, nav {
    margin: 0;
    padding: 0;
  }
  #content{
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  #content input[type="text"]{
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    font-size: 16px;
  }
  #content input[type="text"]:focus {
    border-color: #870303;
    outline: none;
  }
</style>
<body>
  {% include '_navbar.html' %}  

  <div id="content">
    <div class="column1">
      <div id="calender"></div>
    </div>
    <div class="column2">
      <h2>Todo List</h2>
      <input type="text" id="newTodoInput" placeholder="Add new task" onkeypress="if(event.key === 'Enter') { addTodo() }">
      <ul id="todolist" style="list-style: none; padding-left: 0;"></ul>
    </div>   
    
  </div>

</body>
<script>
  function loadTodos() {
    fetch('/get_todos')
      .then(response => response.json())
      .then(data => {
        const todoList = document.getElementById('todolist');
        todoList.innerHTML = ''; // Clear existing list
        data.todos.forEach(todo => {
          const li = document.createElement('li');
          li.innerHTML = `
            <input type="text" value="${todo.text}" onchange="updateTodo('${todo._id}', this.value)">
            <button onclick="deleteTodo('${todo._id}')">🗑️</button>
          `;
          todoList.appendChild(li);
        });
      });
  }

  function addTodo(){
    const text = document.getElementById('newTodoInput').value;
    if(!text) return; 
    fetch('/add_todo', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ text })
    }).then(() => {
      document.getElementById('newTodoInput').value = ''; // Clear input field
      loadTodos(); 
    });
  }

  function updateTodo(id, text) {
    fetch('/update_todo', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ id: id, text: text })
    }).then(() => loadTodos());
  }

  function deleteTodo(id) {
    fetch('/delete_todo', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ id: id })
    }).then(() => loadTodos());
  }

  window.onload = loadTodos;
</script>
</html>
